.wrapper {
  width: 520px;
  margin: 0 auto;
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  object-fit: cover;
  height: 30px;
  margin-right: 7px;
}

.M6 {
  font-weight: bold;
  object-fit: cover;
  font-size: 14px;
}

.d-flex {
  display: flex;
}

.programme {
  display: flex;
  margin-bottom: 20px;
  /* background-color: green; */
}

.programme span {
  display: flex;
  margin-bottom: 10px;
  /* background-color: red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.programme2 {
  display: flex;
  margin-bottom: 10px;
  /* background-color: blue; */
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.time {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.type {
  font-size: 12px;
}

.duration {
  font-size: 12px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
}

.inedit {
  font-size: 12px;
  border-left: red;
}

.programme3 {
  display: flex;
  width: 60px;
  justify-content: space-between;
  margin-right: 20px;
}
